.btn {
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  padding: 1rem;
  margin: 0 .2rem .5rem; 
}
.btn:hover {
    background-color: #1e7b1e;
    color: #ffffff;
}

.btn-primary {
  background-color: var(--blue);
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #1e7b1e;
  color: #ffffff;
}

button[disabled] {
  background-color: var(--ltgray);
  cursor: not-allowed; 
}

button[disabled]:hover {
    background-color: var(--ltgray);
    color: rgba(16, 16, 16, 0.3);
}

.btn-full-width {
    width: 100%;
}
